beautifulsoup4==4.5.1
Chameleon==2.24
colander==1.3.1
coverage==4.2
deform==0.9.9
iso8601==0.1.11
Mako==1.0.4
MarkupSafe==0.23
PasteDeploy==1.5.2
peppercorn==0.5
py==1.4.31
Pygments==2.1.3
pyramid==1.7.3
pyramid-chameleon==0.3
pyramid-debugtoolbar==3.0.4
pyramid-mako==1.0.2
pytest==3.0.2
pytest-cov==2.3.1
repoze.lru==0.6
six==1.10.0
translationstring==1.3
venusian==1.0
waitress==1.0.0
WebOb==1.6.1
WebTest==2.0.23
zope.deprecation==4.1.2
zope.interface==4.3.2
